.RichTextEditor{
  /* invert editor colours to match dark theme */
  filter: invert(1);
  color: rgb(0, 0, 0);
}

.auth-form input{
  float: none;
  margin-left: 20px;
}

.Suggestions{
  padding-left: 40px;
  padding-top: 40px;
  width: 500px;
}
