footer{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
p.optional-footer {
  display: none;
}

.footer a{
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
}

.footer {
  color: white;
  height: 25px;
  display: flex;
  align-items: center;
  float: left;
  font-size: 18px;
  padding: 15px;
}

.footer img {
  height: 29px;
  padding-left: 5px;
}
