  .user-info-logout-btn{
    display: flex;
    flex-direction: row
  }

  .user-info-logout-btn p{
    line-height: 1.7;
    padding-right: 25px;
    font-size: 20px;
    font-family: monospace;
  }

  .user-image{
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
  }
