/* TODO Add site wide styles */

label{
  color: rgb(224, 212, 212);
  padding: 15px 32px;
  font-family: monospace;
}

body{
  background-image: url("images/background-image.jpg");
  background-color: black;
  background-size: cover;
  color: rgb(224, 212, 212);
}

.button{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  width: 150px;
  height: 40px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color:#e0e5ec;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: monospace;
}
.button span {
  display: block;
  position: absolute;
  width: 145px;
  height: 40px;
  border: 2px solid rgb(39, 35, 35);
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.button:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
  background: #e0e5ec;
  color: #e0e5ec;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

footer p{
  font-family:monospace;
  font-size: 20px;
  color: rgb(224, 212, 212);
}
