/* TODO Add site wide styles */

button {
  background-color: #40516e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}
.button:hover {background-color: #607aa7}

.button:active {
  background-color: #464d5a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

label{
  color: rgb(224, 212, 212);
  padding: 15px 32px;
}

body{
  background-image: url("images/background-image.jpg");
  background-color: black;
  background-size: cover;
  color: rgb(224, 212, 212);
}

p{
  font-family: 'Charm', cursive;
  font-size: 20px;
  background-color: #0c121d;
  color: rgb(224, 212, 212);
}

#sub-button{
  background-color: #40516e;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 8px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 5px #666;
}
