.auth-form{
display: flex;
flex-direction: column;
align-items: left;
}

.auth-form input{
  float: right;
  margin-left: 25px;
  height: 15px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
}

.auth-form label{
  line-height: 1.7;
  font-size: 20px;
}
